__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.so

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.spec

site/

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/
*.ipynb_meta


.vscode/
# PyCharm
.idea/

/data

*.log
logs/
debug/
output/


checkpoints/
runs/
wandb/
tensorboard/
tb_logs/
lightning_logs/

*.pt
*.pth
*.ckpt
*.onnx

.cache/
.cache*/
cache/
tmp/
temp/

~/.cache/huggingface/

.env
*.env

.prof

*.bak
*.swp